
@{
    ViewBag.Title = "Dashboard";

    TimeSpan sut = SystemUpTime.getUptime();
}

<center>
    <br />  
    <h1 class="dash-title dash-fw">Dashboard</h1>
    <br />
    <h3 class="dash-divider dash-br">Local Monitoring</h3>

    <table>
        <tr>
            <td>
                <img src="@Url.Action("NetworkChart")" alt="SimpleChart" />
            </td>
            <td class="ramchart">
                <img src="@Url.Action("RamChart")" alt="SimpleChart" />
            </td>
            <td>
                <center>

                    @{
                        System.IO.DriveInfo Dinfo = new DriveInfo("C");

                        double Dsize = double.Parse(Dinfo.TotalSize.ToString()) / 1073741824;
                        double Dspace = double.Parse(Dinfo.TotalFreeSpace.ToString()) / 1073741824;

                        string DsizeResult = @Dsize.ToString("##.00");
                        string DspaceResult = @Dspace.ToString("##.00");
                    }

                    <p class="local-com-info dash-fw dash-br">Hostname - @Monitor.getHostName()</p>
                    <p class="local-com-info dash-fw dash-br">Uptime - @{ @sut.Days}d @{ @sut.Hours}h @{ @sut.Minutes}m @{ @sut.Seconds}s</p>
                    <p class="local-com-info dash-fw dash-br">Average CPU usage = @Monitor.getCpuUsageAvg(100)%</p>
                    <p class="local-com-info dash-fw dash-br">Total RAM = @Monitor.getTotalRAM()MB</p>
                    <p class="local-com-info dash-fw dash-br">Disk size = @DsizeResult GB</p>
                    <p class="local-com-info dash-fw dash-br">Disk freespace = @DspaceResult GB</p>
                </center>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <center>
                    <div class="color-block color-block-1"></div><p class="dash-fw">Current Available RAM = @Monitor.getAvailableRAM()MB</p>
                    <div class="color-block color-block-2"></div><p class="dash-fw">Current RAM in use = @Convert.ToInt32(Monitor.getCommittedRAM())MB</p>
                </center>
            </td>
        </tr>
    </table>



    @{
        List<string> computers = new List<string>();
        computers.Add("192.168.1.27");
        computers.Add("192.168.1.28");

    }
    <h3 class="dash-divider dash-br">Event-log</h3>

    @{EventLog[] EventLogs = GetEventLog.GetEventLogs(Monitor.getHostName());
        foreach (EventLog log in EventLogs)
        {
            string printLog = log.Log;
            <br />
            @printLog;
        }
      }

    <h3 class="dash-divider dash-br">Remote Monitoring</h3>

    <form method="post">
        <select name="ddComputers">
            @foreach (string c in computers)
            {
                <option value=@c>@c</option>
            }
        </select>
        <br />
        <input type="submit">
    </form>
    <br />
    @if (IsPost)
    {
        string computer = Request.Form["ddComputers"];
        CimSession session = Monitor.wmiProcess(computer);

        var allVolumes = session.QueryInstances(@"root\cimv2", "WQL", "SELECT * FROM Win32_Volume");
        var allPDisks = session.QueryInstances(@"root\cimv2", "WQL", "SELECT * FROM Win32_DiskDrive");
        var allProcessors = session.QueryInstances(@"root\cimv2", "WQL", "SELECT * FROM Win32_Processor");

        <table>
            <tr>
                <td style="padding:10px;">
                    <table style="border: 1px solid black; padding: 10px;">
                        <tr style="border: 1px solid black; padding: 10px;">
                            <td style="border: 1px solid black; padding: 10px;">System Name</td>
                            <td style="border: 1px solid black; padding: 10px;">CPU Model</td>
                            <td style="border: 1px solid black; padding: 10px;">CPU Load</td>
                        </tr>
                        @foreach (CimInstance oneProcessor in allProcessors)
                        {
                            <tr style="border: 1px solid black; padding: 10px;">
                                <td style="border: 1px solid black; padding: 10px;">@Monitor.formatCim(oneProcessor, "SystemName")</td>
                                <td style="border: 1px solid black; padding: 10px;">@Monitor.formatCim(oneProcessor, "Name")</td>
                                <td style="border: 1px solid black; padding: 10px;">@Monitor.formatCim(oneProcessor, "LoadPercentage")%</td>
                            </tr>
                        }
                    </table>
                </td>
                <td>
                    <table style="border: 1px solid black; padding: 10px;">
                        <tr style="border: 1px solid black; padding: 10px;">
                            <td style="border: 1px solid black; padding: 10px;">Disk ID</td>
                            <td style="border: 1px solid black; padding: 10px;">Disk Model</td>
                            <td style="border: 1px solid black; padding: 10px;">Disk Partitions</td>
                        </tr>
                        @foreach (CimInstance onePDisk in allPDisks)
                        {
                            <tr style="border: 1px solid black; padding: 10px;">
                                <td style="border: 1px solid black; padding: 10px;">@Monitor.formatCim(onePDisk, "DeviceId")</td>
                                <td style="border: 1px solid black; padding: 10px;">@Monitor.formatCim(onePDisk, "Model")</td>
                                <td style="border: 1px solid black; padding: 10px;">@Monitor.formatCim(onePDisk, "Partitions")</td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </table>
        <br />

        <table>
            <tr>
                <td>
                    <table style="border: 1px solid black; padding: 10px;">
                        <tr style="border: 1px solid black; padding: 10px;">
                            <td style="border: 1px solid black; padding: 10px;">Drive Letter</td>
                            <td style="border: 1px solid black; padding: 10px;">Capacity</td>
                            <td style="border: 1px solid black; padding: 10px;">Free Space</td>
                        </tr>
                        @foreach (CimInstance oneVolume in allVolumes)
                        {
                            <tr style="border: 1px solid black; padding: 10px;">
                                @if (oneVolume.CimInstanceProperties["DriveLetter"].ToString()[0] > ' ')
                                {
                                    if (@oneVolume.CimInstanceProperties["DriveLetter"].ToString() != "DriveLetter")
                                    {
                                        <td style="border: 1px solid black; padding: 10px;">@Monitor.formatCim(oneVolume, "DriveLetter")</td>
                                        <td style="border: 1px solid black; padding: 10px;">@(Convert.ToInt64(Monitor.formatCim(oneVolume, "Capacity")) / 1000000) MB</td>
                                        <td style="border: 1px solid black; padding: 10px;">@(Convert.ToInt64(Monitor.formatCim(oneVolume, "FreeSpace")) / 1000000) MB</td>
                                    }
                                }
                            </tr>
                        }
                    </table>
                </td>
                <td>
                    <img src="@Url.Action("DiskChart", new { computer = computer })" alt="SimpleChart" />
                </td>
            </tr>
        </table>

        <br />



    }
</center>