
@{
    ViewBag.Title = "Dashboard";

    int[] cpuSamples = new int [20];

    for (int i = 0; i < 20; i++)
    {
        cpuSamples[i] = Monitor.getCurrentCpuUsage();

    }

}
<p>Monitorering</p>
<p>Current CPU usage = @Monitor.getCurrentCpuUsage()%</p>
<p>Average CPU usage over 20 samples = @cpuSamples.Average()%</p>
<p>Current Available RAM = @Monitor.getAvailableRAM()MB</p>
<p>Current RAM in use = @Monitor.getCommittedRAM()%</p>
<p>Current network bandwidth used = @Monitor.getNetworkBandwidth()B</p>

