
@{
    ViewBag.Title = "Dashboard";

    TimeSpan sut = SystemUpTime.getUptime();
    string computer;
}

<center>
    <br />
    <h1 class="dash-title dash-fw">Dashboard</h1>
    <br />

    <!--------------------------------LOCAL MON--------------------------------->
    <h3 class="dash-divider dash-br">Local Monitoring</h3>

    <table>
        <tr>
            <td>
                <img src="@Url.Action("NetworkChart")" alt="SimpleChart" />
            </td>
            <td class="ramchart">
                <img src="@Url.Action("RamChart")" alt="SimpleChart" />
            </td>
            <td>
                <center>

                    @{
                        System.IO.DriveInfo Dinfo = new DriveInfo("C");

                        double Dsize = double.Parse(Dinfo.TotalSize.ToString()) / 1073741824;
                        double Dspace = double.Parse(Dinfo.TotalFreeSpace.ToString()) / 1073741824;

                        string DsizeResult = @Dsize.ToString("##.00");
                        string DspaceResult = @Dspace.ToString("##.00");
                    }

                    <p class="local-com-info dash-fw dash-br">Hostname - @Monitor.getHostName()</p>
                    <p class="local-com-info dash-fw dash-br">Uptime - @{ @sut.Days}d @{ @sut.Hours}h @{ @sut.Minutes}m @{ @sut.Seconds}s</p>
                    <p class="local-com-info dash-fw dash-br">Average CPU usage = @Monitor.getCpuUsageAvg(100)%</p>
                    <p class="local-com-info dash-fw dash-br">Total RAM = @Monitor.getTotalRAM()MB</p>
                    <p class="local-com-info dash-fw dash-br">Disk size = @DsizeResult GB</p>
                    <p class="local-com-info dash-fw dash-br">Disk freespace = @DspaceResult GB</p>
                </center>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <center>
                    <div class="color-block color-block-1"></div><p class="dash-fw">Current Available RAM = @Monitor.getAvailableRAM()MB</p>
                    <div class="color-block color-block-2"></div><p class="dash-fw">Current RAM in use = @Convert.ToInt32(Monitor.getCommittedRAM())MB</p>
                </center>
            </td>
        </tr>
    </table>

    <!-----------------------------EVENT LOG------------------------------>
    <h3 class="dash-divider dash-br">Event-log</h3>

    <br />

    <form method="post">
        <table>
            <tr>
                <td><center>Enter hostname(. for localhost)</center></td>
                <td><center>Choose Event Log</center></td>
                <td><center>Entry Type</center></td>
                <td><center>Enter amount of log entries to pull</center></td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="eventLogHostName" value="" />
                </td>
                <td>

                    <select name="eventLogName">
                        @{EventLog[] eventLogss = DweemEventLog.getEventNames(Monitor.getHostName());}
                        @foreach (EventLog log in eventLogss)
                        {
                            string printLog = log.Log;
                            <option value=@printLog>@printLog</option>
                        }
                    </select>
                </td>
                <td>
                    <select name="eventLogType">
                        <option value="Information">Information</option>
                        <option value="Warning">Warning</option>
                        <option value="Error">Error</option>
                        <option value="Critical">Critical</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="eventLogSamples" value="" />
                </td>
            </tr>
        </table>
        <br />
        <input name="eventlogging" type="submit">
    </form>
    @if (IsPost)
    {
        string eventLogHostName = Request.Form["eventLogHostName"];
        string eventLogName = Request.Form["eventLogName"];
        string eventLogType = Request.Form["eventLogType"];
        string eventLogSamples = Request.Form["eventLogSamples"];
        {
            List<string> eventEntries = DweemEventLog.getSystemEvents(eventLogHostName, eventLogName, eventLogType, Convert.ToInt32(eventLogSamples));
            foreach (string entries in eventEntries)
            {
                @entries;
                <br />
            }
        }
    }


</center>