
@{
    ViewBag.Title = "Dashboard";
    TimeSpan sut = SystemUpTime.getUptime();



}
<p>Monitorering</p>
<p>Average CPU usage over x samples = @Monitor.getCpuUsageAvg(100)%</p>
<p>Current Available RAM = @Monitor.getAvailableRAM()MB</p>
<p>Current RAM in use = @Monitor.getCommittedRAM()%</p>
<p>Current network bandwidth used = @Monitor.getNetworkBandwidthMB()B</p>
@Monitor.getDiskAvgReadBytes()
@Monitor.getDiskAvgWriteBytes()
@Monitor.getDiskAvgThroughput()
<p>Current system up time = @sut.Days:@sut.Hours:@sut.Minutes:@sut.Seconds (Day:Hour:Minutes:Seconds)</p>
